<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>boundaries.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>boundary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>cleara.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>dummy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>fgrav.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>hscollide.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>integrate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>sym.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ubuild.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ucat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>udivide.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>uextract.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>umerge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>universe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1282389964594464B428503A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3704418F77DD42CD947A100A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5128B73AD6144893BFD4474E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5328D98A04054FC692EEA507</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>692C8534553243D1B8922415</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F0FC8772C0746D69C3321CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7412AE276D634BA6841A863A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74F345AAD5814D3CA0BB3D7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79DA9CE0E848457189B74667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C6B687A05824CC1A5E9DAA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8776C0E952054B92A0336418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90B82523875442AAACE00316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>989368D530B54B25A23DF362</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EA62CFF7F5B43098C82E48F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD27284FD1F14852A78C0803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE522BDDA9E342CBB27A4FA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
